<div class="container">
    <h2>edition d'une offre</h2>

    <div class="form-group">
        le service:<input class="form-control" [(ngModel)]="offre.service">
    </div>
    <div class="form-group">
        le métier:<input class="form-control" [(ngModel)]="offre.metier">
    </div>
    <div class="form-group">
        Artisan:<input class="form-control" [(ngModel)]="offre.artisan">
    </div>

    <div class="form-group">
        <button class ="btn btn-outline-primary" (click)="save()" routerLinkActive="active"> enregistrer</button>
        <button [routerLink]="['/offre']" class ="btn btn-outline-warning" routerLinkActive="active">annuler</button>
    </div>

</div>
