<div class="container">
  <div style="margin-top: 50px; margin-left: auto; margin-right: auto; height: 100px">
    <div  style="">
          <h2 style="text-align: center">
          ‘‘Entrer dans l'aventure Artinuaire.’’
        </h2>
    </div>
  </div>

  <div style=" width: 1000px; height: 50px">

   <div>
      <div style=" margin-left: auto; margin-right: auto; width: 250px">
          <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
          <button id="créer" class="btn btn-dark" style="width: 200px;" [routerLink]="['/demande/edit']" routerLinkActive="active">créer une offre</button>
      </div>


      <div  style=" margin-left: auto; margin-right: auto; width: 250px">
        <img src="/assets/images/artisan/change.png" alt="commitment 1" style="width: 50px;">
        <button id="modifier" class="btn btn-dark" style="width: 200px;" [routerLink]="['/demande']" routerLinkActive="active">modifier une offre</button>
      </div>

      <div style=" margin-left: auto; margin-right: auto; width: 250px">
        <img src="/assets/images/artisan/validation.png" alt="commitment 1" style="width: 50px;">
        <button id="valider" class="btn btn-dark" style="width: 200px;" [routerLink]="['/demande/edit']" routerLinkActive="active">valider une offre</button>
      </div>

      <div style=" margin-left: auto; margin-right: auto; width: 250px">
        <img src="/assets/images/artisan/show.png" alt="commitment 1" style="width: 50px;">
        <button id="consulter" class="btn btn-dark" style="width: 200px;" [routerLink]="['/demande/edit']" routerLinkActive="active">consulter une offre</button>
      </div>

      <div style=" margin-left: auto; margin-right: auto; width: 250px">
        <img src="/assets/images/artisan/modifier.png" alt="image" style="width: 50px;">
        <button id="modifierprofil" class="btn btn-dark" style="width: 200px;" [routerLink]="['/demande/edit']" routerLinkActive="active">modifier son profil</button>
      </div>

    </div>

  </div>

</div>
