<div class="container">
  <div>
    <h2 style="text-align: center;">
      ‘‘Entrer dans l'aventure Artinuaire.’’
    </h2>
  </div>

  <div style=" width: 1000px;">

   <div >
      <div class="" style=" width: 25%;">
          <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
          <button id="créer" class="btn btn-dark" style="width: 200px;">créer une demande</button>
       </div>
   </div>

    <div>
      <div class="commitment" style="width: 25%;">
        <img src="/assets/images/artisan/change.png" alt="commitment 1" style="width: 50px;">
        <button id="modifier" class="btn btn-dark" style="width: 200px;">modifier une demande</button>
      </div>
    </div>

    <div>
      <div class="commitment" style="vertical-align: middle;">
        <img src="/assets/images/artisan/validation.png" alt="commitment 1" style="width: 50px;">
        <button id="valider" class="btn btn-dark" style="width: 200px;">valider une demande</button>
      </div>
    </div>

    <div>
      <div class="commitment" style="vertical-align: middle;">
        <img src="/assets/images/artisan/show.png" alt="commitment 1" style="width: 50px;">
        <button id="consulter" class="btn btn-dark" style="width: 200px;">consulter une demande</button>
      </div>
    </div>

    <div>
      <div style="vertical-align: middle;">
        <img src="/assets/images/artisan/modifier.png" alt="image" style="width: 50px;">
        <button id="modifierprofil" class="btn btn-dark" style="width: 200px;">modifier son profil</button>
      </div>
    </div>
    <div style="clear: both; float: none; height: 0;"></div>
  </div>

</div>
