<div class="container" id="addOffre">
    <h2>creation d'une offre</h2>
    <div class="form-group">
        metier:<input class="form-control" [(ngModel)]="offre.metier">
        service:<input class="form-control" [(ngModel)]="offre.service">
        artisan:<input class="form-control" [(ngModel)]="offre.artisan">
    </div>

    <div class="form-group">
        <button class ="btn btn-outline-primary" (click)="save()" routerLinkActive="active">Enregistrer</button>
        <button [routerLink]="['/artisan']" class ="btn btn-outline-warning" routerLinkActive="active">Annuler</button>
    </div>
</div>
