<div>
    <h2>creation d'une offre</h2>
    <div class="form-group">
        metier:<input class="form-control" [(ngModel)]="offre.metier">
        service:<input class="form-control" [(ngModel)]="offre.service">
        artisan:<input class="form-control" [(ngModel)]="offre.artisan">
    </div>

    <div class="form-group">
        <button class ="btn btn-outline-primary" (click)="save()" routerLinkActive="active">enregistrer</button>
    </div>
    <button [routerLink]="['/offre']" class ="btn btn-outline-warning" routerLinkActive="active">annuler</button>
</div>
