<div class="container outer-div">
  <h2 id="titre">
    ‘‘Entrer dans l'aventure Artinuaire, un monde d'artisanat s'offre à vous’’
  </h2>
 <div class="inner-div">
   <div class="opacity">
      <div >
        <h2>"la menuiserie"</h2>
        <img src="/assets/images/home/menuisier.jpeg" alt="image" style="width: 800px; ">

      </div>
      <div>
        <h2>"l'horticulture"</h2>
        <img src="/assets/images/home/paysagiste.jpg" alt="image" style="width: 800px; ">

      </div>
      <div>
        <h2>"l'art floral"</h2>
        <img src="/assets/images/home/artfloral.jpg" alt="image" style="width: 800px; ">

      </div>
      <div>
        <h2>"la sellerie</h2>
        <img src="/assets/images/home/sellier.jpg" alt="image" style="width: 800px; ">
      </div>
      <div>
        <h2>"le ferronnerie"</h2>
        <img src="/assets/images/home/ferroneur.jpg" alt="image" style="width: 800px; ">

      </div>
   </div>
 </div>
</div>
