<<<<<<< HEAD
h1{
    text-align: center;
    color: green;
}
p{
    text-align: center;
    color: beige;
=======

.outer-div
{
  padding: 50px;
  text-align: center;

}

.center-div{
  margin: 0 auto;


}
.inner-div
{
  display: inline-block;
  padding: 5px;
  background-color: #ccc;
  border-radius: 3px;
}

h2{
  font-family: Arial;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  margin-top: 50px;
  font-weight: normal;
>>>>>>> 99338743f2fa60132480dbb0641047b13073f90a
}
