<div class="container">
    <h1>Bienvenue dans l'univers des artisans</h1>
    <div class="container-fluid col-lg-12 col-sm-4 col-xs-12"><p>Ce site permet de mettre en relation les artisans et les clients de proximité</p></div>
    <div class="col-lg-12 col-sm-4 col-xs-12">
<!--        <img src="{{image}}" alt="image de fond d'accueil">-->
    </div>

  <!--  <div class="col-12 col-xs-12 col-sm-4">
      <img src="{{image}}" alt="image de fond d'accueil">
    </div>-->
  <div class="outer-div">
      <h2 style="text-align: center" style="background-color: azure; border-radius: 10px;">
        ‘‘Entrer dans l'aventure Artinuaire, un monde d'artisanat s'offre à vous’’
      </h2>
     <div class="inner-div">
       <div class="opacity">
          <div >
            <img src="/assets/images/home/menuisier.jpeg" alt="image" style="width: 800px; ">
            <h2>"la menuiserie"</h2>
          </div>
          <div>
            <img src="/assets/images/home/paysagiste.jpg" alt="image" style="width: 800px; ">
            <h2>"l'horticulture"</h2>
          </div>
          <div>
            <img src="/assets/images/home/artfloral.jpg" alt="image" style="width: 800px; ">
            <h2>"l'art floral"</h2>
          </div>
          <div>
            <img src="/assets/images/home/sellier.jpg" alt="image" style="width: 800px; ">
            <h2>"la sellerie</h2>
          </div>
          <div>
            <img src="/assets/images/home/ferroneur.jpg" alt="image" style="width: 800px; ">
            <h2>"le ferronnerie"</h2>
          </div>
       </div>
     </div>
      </div>
</div>
