<div class="container">
    <div class="col-12 col-xs-12 col-sm-4">
<!--        <img src="{{image}}" alt="image de fond d'accueil">-->
    </div>
  <div>
    <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
    <h2>"création de ...</h2>
  </div>
  <div>
    <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
    <h2>"création de ...</h2>
  </div>
  <div>
    <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
    <h2>"création de ...</h2>
  </div>
  <div>
    <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
    <h2>"création de ...</h2>
  </div>
  <div>
    <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
    <h2>"création de ...</h2>
  </div>
  <div>
    <img src="/assets/images/artisan/createtask.png" alt="image" style="width: 50px; ">
    <h2>"création de ...</h2>
  </div>
</div>
