<div class="container">
    <div>
        <button class="btn btn-info" [routerLink]="['/demande','add']">Ajout demande</button>
    </div>
    <table class="table">
        <tr>
            <th>Id demande</th>
            <th>Message</th>
            <th>Artisan</th>
            <th>Client</th>
            <th>Service</th>
            <th>Metier</th>
            <th>Statut</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
            <tr *ngFor="let d of demandes">
                <td>{{d.idDemande}}</td>
                <td>{{d.message}}</td>
                <td>{{d.artisan.email}}</td>
                <td>{{d.client.email}}</td>
                <td>{{d.service.nomService}}</td>
                <td>{{d.metier.titreMetier}}</td>
                <td>{{d.statut}}</td>
                <td>{{d.date}}</td>
                <td><button class="=btn btn-outline-info" [routerLink]="['/demande','edit']" >editer la demande</button></td>
                <td><button class="=btn btn-outline-danger"  (click)="delete(d.idDemande)">Supprimer la demande</button></td>
            </tr>

    </table>
</div>
