<div class="container">
    <h2>Liste des services</h2>
    <div>
        <button class="=btn btn-primary" [routerLink]="['/service','add']" routerLinkActive="active">Editer</button>
    </div>
    <table class="table">
        <tr>
            <th>ID SERVICE</th>
            <th>NOM SERVICE</th>
            <th>METIER</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let s of services">
            <td>{{s.idService}}</td>
            <td>{{s.nomService}}</td>
            <td>{{s.metier}}</td>
            <td><button class="=btn btn-outline-primary" [routerLink]="['/service','edit']" >Editer</button></td>
            <td><button class="=btn btn-outline-danger"  (click)="delete(s.idService)">Supprimer</button></td>
        </tr>
    </table>
</div>
