#menu>li{
    display: inline-block;
}
#logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    max-height: 70px;
    max-width: 100px;
}
#banniere {
    min-height: 50px;
    /*background-image: url(src/assets/images/home/imgParis.jpg);*/
    /*background-color: black;*/
    background-size: 50% 50%;
}
#copyright{
    text-align: center !important;
    color: beige;
}
#footer{
    min-height: 100px;
    padding: 20px 10px;
    position: fixed;
}
#res>{
    display: inline-block;
}
#user{
    color: beige;
}
footer {
    min-height:40px !important;
    padding-right: 0 !important;
    margin-top: 10%;
    color: black !important;
    text-align-all: center !important;
    position: fixed !important;
    bottom: 0 !important;
    left:0 !important;
    right:0 !important;
}

