<header class="navbar navbar-dark bg-dark">
<!--    bg-dark-->
    <div id="logo" class="row">
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">
            <img src="assets/images/home/logo.png" alt="logo">
        </a>
    </div>
    <div id="banniere" class="row">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="recherche" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Rechercher</button>
            <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/login']" routerLinkActive="active">Se connecter</button>
        </form>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--    light-->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a [routerLink]="['/compte']" routerLinkActive="active" class="btn btn-link">Compte</a></li>
            <li class="nav-item"><a [routerLink]="['/artisan']" routerLinkActive="active" class="btn btn-link">Artisan</a></li>
            <li class="nav-item"><a [routerLink]="['/client']" routerLinkActive="active" class="btn btn-link">Client</a></li>
            <li class="nav-item"><a [routerLink]="['/metier']" routerLinkActive="active" class="btn btn-link">metier</a></li>
            <li class="nav-item"><a [routerLink]="['/service']" routerLinkActive="active" class="btn btn-link">Services</a></li>
            <li class="nav-item"><a [routerLink]="['/demande']" routerLinkActive="active" class="btn btn-link">Demande</a></li>
            <li class="nav-item"><a [routerLink]="['/offre']" routerLinkActive="active" class="btn btn-link">Offre</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- Partie footer-->
<div class="container-fluid fixed-bottom navbar-expand-sm navbar-dark bg-dark" id="footer">
    <div class="container">
        <div class="row">
            <div class="collapse navbar-collapse col-2 col-xs-12 col-sm-4">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a [routerLink]="['/home']" routerLinkActive="active">Accueil</a></li>
                    <li class="nav-item"><a href="#">Créer un compte</a></li>
                </ul>
            </div>
            <div class="col-8 col-xs-12 col-sm-4">vide</div>
            <div class="col-2 col-xs-12 col-sm-4">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a href="#">Facebook</a></li>
                    <li class="nav-item"><a href="#">Linkedin</a></li>
                    <li class="nav-item"><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--<div id="logo">-->
<!--    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">-->
<!--        <img src="assets/images/home/logo.png" alt="logo">-->
<!--    </a>-->
<!--</div>-->
<!--<div id="banniere" class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">-->
<!--        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--            <li class="nav-item"><a [routerLink]="['/compte']" routerLinkActive="active" class="btn btn-link">Compte</a></li>-->
<!--            <li class="nav-item"><a [routerLink]="['/artisan']" routerLinkActive="active" class="btn btn-link">Artisan</a></li>-->
<!--            <li class="nav-item"><a [routerLink]="['/client']" routerLinkActive="active" class="btn btn-link">Client</a></li>-->
<!--            <li class="nav-item"><a [routerLink]="['/metier']" routerLinkActive="active" class="btn btn-link">metier</a></li>-->
<!--            <li class="nav-item"><a [routerLink]="['/service']" routerLinkActive="active" class="btn btn-link">Services</a></li>-->
<!--            <li class="nav-item"><a [routerLink]="['/demande']" routerLinkActive="active" class="btn btn-link">Demande</a></li>-->
<!--        </ul>-->
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="recherche" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
