<div class="container" style="" id="input">

  <h2>modifier votre compte</h2>

  <div class="form-group" >
    login:<input class="form-control" [(ngModel)]="compte.login"  >
  </div>
  <div class="form-group">
    mot de passe:<input class="form-control" [(ngModel)]="compte.mdp">
  </div>
  <div class="form-group">
   numéro :<input class="form-control" [(ngModel)]="compte.adresse.numero" >
  </div>
  <div class="form-group">
    rue :<input class="form-control" [(ngModel)]="compte.adresse.rue" >
  </div>
  <div class="form-group">
    ville :<input class="form-control" [(ngModel)]="compte.adresse.ville" >
  </div>
  <div class="form-group">
    code postal :<input class="form-control" [(ngModel)]="compte.adresse.codePostal" >
  </div>
  <div class="form-group">
    email:<input class="form-control" [(ngModel)]="compte.email" >
  </div>

  <div class="form-group">
    <button class ="btn btn-primary" (click)="save()" routerLinkActive="active"> enregistrer</button>
    <button [routerLink]="['/compte']" class ="btn btn-warning" routerLinkActive="active">annuler</button>
  </div>

</div>
