<div class="container" id="addServiceJava">
    <h2>Ajout d'un nouveau service</h2>
<!--    <div class="form-group">-->
<!--        ID Service : <input [(ngModel)]="service.idService" class="form-control">-->
<!--    </div>-->
    <div class="form-group">
        Nom Service : <input [(ngModel)]="service.nomService" class="form-control">
    </div>
    <div class="form-group">
        Metier : <input [(ngModel)]="service.metier" class="form-control">
    </div>
    <div>
        <button (click)="save()" class="btn btn-outline-primary">Enregistrer</button>
        <button [routerLink]="['/service']" routerLinkActive="active" class="btn btn-outline-warning">Annuler</button>
    </div>
</div>
