/* You can add global styles to this file, and also import other style files */
#reseau {
    text-align: right;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
}
#footer{
    min-height: 100px;
    padding: 20px 10px;
    position: fixed;
}
body{
    background-image: url(src/assets/images/home/wood.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-attachment: fixed;
    margin: 0;
}
